<div class="pengalaman-container">
    <div class="pengalaman-title">
        <h3>Experience</h3>
    </div>
    <div fxLayoutGap="20px" class="pengalaman-page" fxLayout.xs="column" fxLayout.md="row" fxLayoutAlign="center start">
        <div fxFlex="50%" class="card-pengalaman">
            <mat-card class="pengalaman">
                <mat-card-content class="card-content">
                    <div class="timeline">
                        <div class="container right">
                            <div class="content">
                                <p class="tgl">2018- 2021</p>
                                <h4 class="title">SMK Negeri 1 Ciomas</h4>
                                <p class="desc">
                                    Lulus Tahun 2021 pada jurusan Rekayasa Perangkat Lunak dan mendapatkan nilai rata-rata 8.5.
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50%" class="card-pendidikan">
            <mat-card class="pendidikan">
                <mat-card-content class="card-content">
                    <div class="timeline">
                        <div class="container right">
                            <div class="content">
                                <p class="tgl">Sep 2021 - Saat ini</p>
                                <h4 class="title">Es Brasil</h4>
                                <p class="desc">
                                    Design UI/UX Website App Projects<br> Development Website App Projects<br> Maintance Website App Projects<br> Membetulkan Printer, Komputer bila rusak<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>