<mat-drawer-container class="container">
    <mat-drawer #sidenav class="sidebar" [mode]="modeSidebar" [(opened)]="opened">
        <app-navbar-component [inputSideNav]="sidenav"> </app-navbar-component>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar *ngIf="openedNavbar" class="navbar">
            <mat-toolbar-row class="nav">
                <button mat-icon-button (click)="sidenav.toggle()" class="btn-sidenav" aria-label="button sidenav">
                <mat-icon class="warna-icon md-36" >menu</mat-icon>
              </button>
                <!-- <div class="img-wrap" div fxLayout="row" fxLayoutAlign="center center">
                    <img src="assets/image/logo/logo.png" alt="Logo" />
                </div> -->
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="app-main" [ngClass]="{'openMain': opened == true }">
            <app-main-component></app-main-component>
        </div>
    </mat-drawer-content>
</mat-drawer-container>