<div class="about-container">
    <div class="about-title">
        <h3>About Me</h3>
    </div>
    <div class="about-page" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayoutAlign="start center">
        <div class="about-img">
            <img src="assets/image/avatar/myAvatar.png" alt="">
        </div>
        <div class="about-card">
            <mat-card class="card">
                <mat-card-content class="card-content">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row">
                        <div class="about-desc">
                            <p>
                                Hai!!!.. Saya Rezaldy Abidin. Seorang Front End Developer. Berpengalaman 1 Tahun(±) dalam merancang Design UI/UX, Development Website, Maintance Website. 20 tahun, berkacamata.
                            </p>
                            <div class="btn-wrap">
                                <a targe="_blank" href="https://drive.google.com/file/d/1_w6E-y2lLLl_23-u_ChzqTom9JOy5MIa/view?usp=sharing" class="btn-cv">
                                    Download CV
                                </a>
                            </div>
                        </div>
                        <div class="about-skills">
                            <p>Critical thinking <span>80%</span></p>
                            <mat-progress-bar class="progress-skills" mode="determinate" value="80"></mat-progress-bar>
                            <p>Design Thinking <span>78%</span></p>
                            <mat-progress-bar class="progress-skills" mode="determinate" value="78"></mat-progress-bar>
                            <p>Development Code <span>82%</span></p>
                            <mat-progress-bar class="progress-skills" mode="determinate" value="82"></mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- <p>Teknologi yang biasa digunakan</p>
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=Blazor&color=512BD4&logo=Blazor&logoColor=FFFFFF&label=" />
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=HTML5&color=E34F26&logo=HTML5&logoColor=FFFFFF&label=" />
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=Git&color=F05032&logo=Git&logoColor=FFFFFF&label=" />
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=CSS3&color=1572B6&logo=CSS3&logoColor=FFFFFF&label=" />
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=JavaScript&color=222222&logo=JavaScript&logoColor=F7DF1E&label=" />
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=Angular&color=DD0031&logo=Angular&logoColor=FFFFFF&label=" />
<img src="https://img.shields.io/static/v1?style=for-the-badge&message=Bootstrap&color=7952B3&logo=Bootstrap&logoColor=FFFFFF&label=" /> -->