/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
:root {
    --warna-gelap: #2b2d41;
    --warna-abu: #8d99ae;
    --warna-putih: #edf2f4;
    --rubik: 'Rubik', sans-serif;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--rubik);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--rubik);
}

.md-18 {
    font-size: 18px;
}

.md-24 {
    font-size: 24px;
}

.md-36 {
    font-size: 36px;
}

.md-48 {
    font-size: 48px;
}